*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    color: #f2f5f7;
    font-family: 'Montserrat', sans-serif;
  }
  nav{
    height: 100px;
    width: 100%;
    background-color: #131418;
    display: flex;
  }
  
  .logo{
    padding:20px 80px;
  }
  .logo img {
    height: 60px;
    width: 60px;
  }
  
  .nav-links{
    display: flex;
    list-style: none; 
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
  }
  .nav-links li a{
    text-decoration: none;
    font-weight: bold;
    color: #CECECE;
  }
  .nav-links li a:hover {
    color: #ffffff;
  }
  
  .button{
    color: #ffffff;
    background: linear-gradient(45deg, #882313, #c7361c);
    border-color: white;
    border-radius: 8px;
    border-width: thin;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  .button:hover {
    color: #ffffff;
    background: #131418;
    border-color: white;
  }
  
  .menu div{
    width: 30px;
    height:3px;
    background: #CECECE;
    margin: 5px;
    transition: all 0.3s ease;
  }
  .menu{
    display: none;
  }
  
  @media (max-width:768px){
    nav{
      position: fixed;
      z-index: 2;
    }
  
    .logo{
      padding:24px 40px 0 40px;
      z-index: 1;
    }
  
    .logo img {
      height: 52px;
      width: 52px;
    }
  
    .menu{
      display:block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 35%;
      z-index: 3;
    }
  
    .nav-links{
      position: fixed;
      background: #131418;
      height: 100%;
      width: 100%;
      padding: 32px;
      flex-direction: column;
      display: none;
      transition: all 0.5s ease-out;

    }
  
    .nav-links.open{
      display: flex;
      position: fixed;
      background: #131418;
      height: 100%;
      width: 100%;
      padding: 32px;
      flex-direction: column;

    }
  
    .nav-links li a{
      opacity: 0;
    }

    .nav-links li.fade a{
      opacity: 100%;
      color:blue;
    }
  
    .nav-links li a:nth-child(1){
      transition: opacity 0.5s ease 0.3s;
    }
    .nav-links li:nth-child(2){
      transition: opacity 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
      transition: all 0.5s ease 0.5s;
    }
    .nav-links li:nth-child(4){
      transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(5){
      transition: all 0.5s ease 0.7s;
    }
   
  .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
  }
  .toggle .line2{
    transition: all 0.1s ease;
    width:0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
  }
  }